<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="supportEmail" value="jirka.kon96@gmail.com"/>
    <add key="supportEmailPswd" value="*"/>
  </appSettings>
</configuration>